body {
  background-color: #efefef;

  header {
    height: 62px;
    text-align: center;
    line-height: 62px;
    color: rgba(197, 200, 198, 0.8);
    background-color: #181a1c;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 62px;
    width: 264px;
    height: 100%;
    color: rgba(197, 200, 198, 0.8);
    background-color: #1d1f21;

    .recipe-list {
      padding: 28px 18px 0 18px;
      list-style-type: none;

      li {
        padding: 16px 0px 10px 0px;
        border-bottom: 1px solid rgba(197, 200, 198, 0.2);
        font-size: 0.8em;
      }
    }
  }
}
